.h2Container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
}

.h2Container h2 {
    background: -webkit-linear-gradient(rgb(255, 174, 206), rgb(188, 249, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: rgb(255, 174, 206); */
    /* font-family: 'Westiga', sans-serif; */
    /* font-family: 'Nigelina', sans-serif; */
    font-family: 'Moldyen', sans-serif;
    font-size: 35pt;
    margin-bottom: 10px;
}
.h2Container p {
    background: -webkit-linear-gradient(rgb(255, 174, 206), rgb(188, 249, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.projectSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2pt solid rgb(255, 174, 206);
    margin: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

.projectSection h2 {
    color: rgb(217, 252, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 45pt;
}

.projectdecrb {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.projectdecrb p {
    color: rgb(217, 252, 255);
    font-family: 'Montserrat', sans-serif;
    margin: 3px;
}

.projectdecrb a {
    text-decoration: none;
    color: rgb(255, 174, 206);
    font-family: 'Montserrat', sans-serif;
    margin: 3px;
    margin-top: 10px;
}

@media screen and (max-width: 601px) {
.h2Container {
    margin-bottom: 30px;
}
.h2Container h2 {
    font-size: 35pt;
}

.h2Container p{
    margin-left: 15px;
    margin-right: 15px;
}
.projectSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.projectdecrb {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 15px;
}
}