.homeBody {
    min-height: 100vh;
}

.firstBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.creative {
    color: rgb(0, 0, 152);
    font-family: 'Moldyen', sans-serif;
    font-size: 85pt;
    margin: 0;
    margin-top: 30px;
}

.firstparagraph {
    margin-left: 50px;
    margin-bottom: 22px;
}

.firstparagraph p {
    color: rgb(0, 0, 152);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.secondBlock {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-left: 135px;
}

.developer {
    color: rgb(0, 0, 152);
    /* font-family: 'Westiga', sans-serif; */
    /* font-family: 'Nigelina', sans-serif; */
    font-family: 'Moldyen', sans-serif;
    font-size: 85pt;
    margin: 0;
}

.thirdBLock{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top: 20px;
    margin-right: 100px;
}

.hero-container {
    position: relative;
    z-index: 10000;
    width: 100%;
}

.hero {
    bottom: 0;
}

.star {
    color: rgb(0, 0, 152);
    /* font-family: 'Westiga', sans-serif; */
    /* font-family: 'Nigelina', sans-serif; */
    font-family: 'Moldyen', sans-serif;
    font-size: 85pt;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.thirdBlockcontent{
    width: 600px;
}

.thirdBlockcontent p{
    color: rgb(0, 0, 152);
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
}

.fourthBlock {
    display: flex;
    margin-left: 100px;
    margin-top: -30px;
}

.designer_border {
    color: rgb(244, 243, 240);
    /* font-family: 'Westiga', sans-serif; */
    /* font-family: 'Nigelina', sans-serif; */
    font-family: 'Moldyen', sans-serif;
    font-size: 85pt;
    margin: 0;
    text-shadow: 
    -1px -1px 0 rgb(0, 0, 152),
    1px -1px 0 rgb(0, 0, 152),
    -1px 1px 0 rgb(0, 0, 152),
    1px 1px 0 rgb(0, 0, 152);
}

.designer {
    color: rgb(0, 0, 152);
    /* font-family: 'Westiga', sans-serif; */
    /* font-family: 'Nigelina', sans-serif; */
    font-family: 'Moldyen', sans-serif;
    font-size: 85pt;
    margin: 0;
    animation: shift 3s ease-in-out infinite;
}

@keyframes shift {
    0%, 100% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.fourthBlock h2 {
    position: absolute;
}

.fifthBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 250px;
    margin-top: 110px;
}

.fifthBlock img {
    display: flex;
}

@media screen and (max-width: 601px) {
.creative{
    font-size: 35pt;
}
.developer{
    font-size: 35pt;
}
.designer{
    font-size: 35pt;
}
.designer_border{
    font-size: 35pt;
}
.firstparagraph {
    margin-left: 25px;
    margin-bottom: 10px;
}
.secondBlock {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-left: 35px;
}
.thirdBLock {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 40px;
}
.star {
    margin-left: 30px;
    margin-right: 50px;
}
.thirdBlockcontent p {
    color: rgb(0, 0, 152);
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}
.fourthBlock {
    display: flex;
    margin-top: 0px;
    margin-left: 35px;
}
.fifthBlock{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: auto;
}
.fifthBlock img{
    width: 150px;
}
}