.skill_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.skill_leftblock {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    margin-right: 20px;
}

.skill_rightblock {
     margin: 20px;
}

.designDescrb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.designDescrb h2{
    background: -webkit-linear-gradient(rgb(255, 174, 206), rgb(188, 249, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Moldyen', sans-serif;
    font-size: 35pt;
    margin-bottom: 20px;
}

.designDescrb p {
    color: rgb(188, 249, 255);
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skillIcons{
    margin: 20px;
}

.skillIcons img {
    margin: 5px;
}

.target{
    color: rgb(255, 86, 86);
}
.amazon{
    color: rgb(45, 185, 255)
}
.walmart{
    color: rgb(255, 255, 57);
}
.adobe {
    color: rgb(255, 108, 184);
}

@media screen and (max-width: 601px) {
.skill_container{
    flex-wrap: wrap;
}
.skillIcons img{
    width: 60px;
    height: auto;
}
.skill_leftblock {
    margin-right: 10px;
    margin-left: 10px;
}
.skill_rightblock {
    margin: none;
    align-items: center;
}
.fashion_photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fashion_photos img{
    width: 100px;
    height: auto;
    margin: 5px;
}
}