.skill_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.skill_leftblock {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    margin-right: 20px;
}

.skill_rightblock {
     margin: 20px;
}

.designDescrb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.designDescrb h2{
    color: rgb(0, 0, 152);
    font-family: 'Moldyen', sans-serif;
    font-size: 35pt;
    margin-bottom: 20px;
}

.designDescrb p {
    color: rgb(0, 0, 152);
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skillIcons{
    margin: 20px;
}

.skillIcons img {
    margin: 5px;
}