.homeNav {
  padding: 20px;
  border-bottom: 2px solid rgb(0, 0, 152);
  font-family: 'Montserrat', sans-serif;
  position: sticky;
  top: 0;
  background-color: rgb(244, 243, 240);
  opacity: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 152);
}

@media screen and (max-width: 601px){
  .homeNav{
    width: auto;
    margin: 0;
  }
  nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}